{% extends 'jagruti/company/base.html' %}
 
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Job Apply List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                       
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Candidate Name</th>
                                            <th>Location</th>
                                            <th>Contact</th>
                                            <th>Min_salary</th>
                                            <th>Max_salary</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Candidate Name</th>
                                            <th>Location</th>
                                            <th>Contact</th>
                                            <th>Min_salary</th>
                                            <th>Max_salary</th>
                                        </tr>
                                    </tfoot>
                                    {% if all_job %}
                                    <tbody>
                                        {% for i in all_job %}
                                        <tr>
                                            <td>{{i.job.jobname}}</td>
                                            <td>{{i.candidate.firstname}} {{i.candidate.lastname}}</td>
                                            <td>{{i.candidate.city}}</td>
                                            <td>{{i.candidate.contact}}</td>
                                            <td>{{i.candidate.minsalary}}</td>
                                            <td>{{i.candidate.maxsalary}}</td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                 
{% endblock %}   
  
